<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1547841243-eacb14453cd9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxjaXR5fGVufDB8fHx8MTYyNjE4NjYxMg&ixlib=rb-1.2.1&w=1000"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <span class="blog-post-card1-text"><span></span></span>
      <span class="blog-post-card1-text1">
        <span>
          The city of Hyderabad along with umpteen numbers of sightseeing
          options also offers interesting shopping options. The city is known
          for shopping for pearls, handicrafts along with various apparels,
          leather goods and traditional jewelry. From high end shopping malls
          offering all kinds of international brands to local bazaars and
          roadside stalls, the city of Hyderabad presents its visitors with an
          ultimate shopping experience. Some of the common shopping areas of
          Hyderabad are Abids, Basheer Bagh, Nampally, Begum Bazar, Laad Bazaar
          and MG Road. At these places, you will find both shopping malls as
          well as stores for good. Abids has been one of the prime commercial
          centres of Hyderabad since the 90s. And at Nampally, you have the
          annual festival Hyderabad Numaish which is also known as All-India
          Industrial Exhibition and attracts merchants as well as visitors from
          not just the entire country but also from the continent nearby
        </span>
      </span>
      <div class="blog-post-card1-container1">
        <div class="blog-post-card1-profile">
          <img
            alt="profile"
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&ixlib=rb-1.2.1&w=200"
            image_src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1hbiUyMHBvcnRyYWl0fGVufDB8fHx8MTYyNjQzMTMwMw&amp;ixlib=rb-1.2.1&amp;h=1200"
            class="blog-post-card1-image1"
          />
          <span class="blog-post-card1-text2"><span>Jon Doe</span></span>
        </div>
        <span class="blog-post-card1-text3"><span>5 min read</span></span>
      </div>
    </div>
  </div>
</div>
