<div>
  <link href="./component3.css" rel="stylesheet" />
  <div class="component3-container">
    <div class="component3-container1">
      <span class="heading component3-text"><span>ENQUIRY FORM</span></span>
      <label class="component3-text01"><span>Name</span></label>
      <input type="text" class="input component3-textinput" />
      <label class="component3-text02"><span>Email</span></label>
      <input type="text" class="input component3-textinput1" />
      <label class="component3-text03"><span>Phone Number</span></label>
      <input type="text" class="input component3-textinput2" />
      <div data-thq="thq-dropdown" class="component3-thq-dropdown list-item">
        <ul data-thq="thq-dropdown-list" class="component3-dropdown-list">
          <li data-thq="thq-dropdown" class="component3-dropdown list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle"
            >
              <span class="component3-text04">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="component3-dropdown1 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle1"
            >
              <span class="component3-text05">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="component3-dropdown2 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle2"
            >
              <span class="component3-text06">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="component3-dropdown3 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle3"
            >
              <span class="component3-text07">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="component3-dropdown4 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle4"
            >
              <span class="component3-text08">Sub-menu Item</span>
            </div>
          </li>
        </ul>
      </div>
      <div data-thq="thq-dropdown" class="component3-thq-dropdown1 list-item">
        <ul data-thq="thq-dropdown-list" class="component3-dropdown-list1">
          <li data-thq="thq-dropdown" class="component3-dropdown5 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle5"
            >
              <span class="component3-text09">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="component3-dropdown6 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle6"
            >
              <span class="component3-text10">Sub-menu Item</span>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="component3-dropdown7 list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="component3-dropdown-toggle7"
            >
              <span class="component3-text11">Sub-menu Item</span>
            </div>
          </li>
        </ul>
      </div>
      <label class="component3-text12"><span>Message</span></label>
      <textarea class="component3-textarea textarea"></textarea>
      <button id="submit" class="component3-button button">
        <span>SUBMIT</span>
      </button>
    </div>
  </div>
</div>
