<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <span class="component1-text">
      <span class="component1-text01">
        Hyderabad, The city of Nizams is one of the oldest cities not just in
        India but in the world. A city that has almost everything to offer its
        visitors, Hyderabad makes for one of the most interesting places to
        visit. A blend of rich cultural and historical heritages, age old
        traditions and best of modern facilities, the city of Hyderabad presents
        an environment that is unmatched to any. Another important aspect of a
        trip to Hyderabad is its cuisine.
      </span>
      <br class="component1-text02" />
      <br class="component1-text03" />
      <span>
        ‘TourFluent’ “Travel is the main thing you purchase that makes you more
        extravagant”. We, at ‘TourFluent’, swear by this and put stock in
        satisfying travel dreams that make you perpetually rich constantly. We
        have been moving excellent encounters for a considerable length of time
        through our cutting-edge planned occasion bundles and other fundamental
        travel administrations. We rouse our clients to carry on with a rich
        life, brimming with extraordinary travel encounters.
      </span>
      <br class="component1-text05" />
      <br class="component1-text06" />
      <span class="component1-text07">
        A solid and “believed” travel brand of Hyderabad, our qualities
        incorporate a vast and faithful client base, a multi-channel stage for
        relaxation and business explorers, a powerful portable eco-framework for
        a range of voyagers and providers
      </span>
      <br />
      <br />
      <span>.</span>
      <span></span>
    </span>
  </div>
</div>
